.App {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color:#303841 ;
    font-family: 'Arsenal', sans-serif;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
}